*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(30, 38%, 92%);
}
/* HEADER */
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 400px;
    background-color: #fff;
    width: 42%;
    height: 420px;
    border-radius: 10px;
   
}
/* HEADER-2 */

.header-2{
    width: fit-content;
    height: 420px;
    border-radius: 10px;
}
.header-3{
    display: none;
}
/* HEAD */
.head{
    text-align: start;
    margin: 40px 60px 0;
}

/* NAV */
.nav{
    font-size: 16px;
    font-family: arial;
    font-weight: 500;
    letter-spacing: 5px;
}

/* HEADING */
.heading h1{
    font-size: 25px;
    font-family: arial;
    font-weight: 800;
    margin-right: 40px;
    margin-top: 20px;
    line-height: 1;
}
.heading p{
    font-size: 15px;
    font-family: arial;
    font-weight: 400;
    margin-right: 10px;
    margin-top: 30px;
    line-height: 1.5;
}

/* COL */
.col{
    display: flex;
    margin: 25px 0 15px;
}
.col h1{
    color:   #065f3e;
    font-size: 30px;
}
.col p{
    margin-left:60px ;
    margin-top: 5px;
    color:  hsl(228, 12%, 48%);
    font-family: arial;
}

/* SELECT */
.select{
    display: flex;
    justify-content: center;
    background-color: #065f3e;
    padding: 10px;
    width: 220px;
    height: 40px;
    border-radius: 10px;
   
}
.select img{
    width: 20px;
    height: 20px;
}
.select h1{
    font-size: 15px;
    font-family: arial;
    font-weight: 700;
    margin: 0 10px;
    color: #fff;
}

/* @MEDIA */
@media (max-width: 500px) {
    .header{
        display: block;
        margin: 30px 90px;
        height: 600px;
        width: 320px;
        align-items: center;
    }
    .header-2{
        display: none;
    }
    .header-3{
        display: block;
        width: 320px;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .head{
        text-align: start;
        margin: 20px;
    }
    .nav{
        margin: 35px 0 0;
        font-size: 12px;
        color: #bda4a4;
    }
    .heading h1{
        margin: 20px 0 0;
    }
    .heading p{
        margin: 20px 10px 0 0;
    }
    .col{
        margin: 15px 0;
    }
    .col p{
        margin: 7px 20px 0;
    }
    .select{
        width: 100%;
        height: 50%;
    }
}